---
interface Props {
  description: string;
  title: string;
  logo: string;
}

const { title, description, logo } = Astro.props;
---

<a href="#" class="block p-4 hover:bg-slate-50 rounded">
  <section class="grid grid-cols-5 gap-x-4">
    <div class="col-span-1">
      <img
        src={logo}
        class="size-15 bg-white border border-slate-200 rounded p-1"
        alt="Logo"
      />
    </div>
    <div class="col-span-4">
      <h1 class="font-bold">{title}</h1>
      <p class="mb-4">
        {description}
      </p>
      <ul class="flex">
        <li
          class="text-sm rounded border border-slate-200 bg-slate-100 p-1 mr-2"
        >
          Comercio
        </li>
        <li
          class="text-sm rounded border border-slate-200 bg-slate-100 p-1 mr-2"
        >
          Facturación
        </li>
      </ul>
    </div>
  </section>
</a>
