---
import Card from "../components/Card.astro";
---

<h2 class="text-lg font-bold mb-4">Empresas</h2>
<ul class="grid grid-cols-2 gap-4">
  <li class="col-span-1">
    <Card
      logo="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png"
      title="A-Cube e-invoicing"
      description="Send and manage e-invoices in Italy, directly from the Stripe Dashboard"
    />
  </li>
</ul>
<style></style>
