---
import Container from "../layouts/Container.astro";
---

<header>
  <h2 class="text-lg font-bold mb-4">Categorias</h2>
  <ul>
    <li class=""><a href="#" class="block hover:text-sky-500 py-2">Todo</a></li>
    <li class="">
      <a href="#" class="block hover:text-sky-500 py-2">Comercio</a>
    </li>
    <li class="">
      <a href="#" class="block hover:text-sky-500 py-2">Facturación</a>
    </li>
    <li class="">
      <a href="#" class="block hover:text-sky-500 py-2">Datos y análisis</a>
    </li>
    <li class="">
      <a href="#" class="block hover:text-sky-500 py-2">Marketing y ventas</a>
    </li>
    <li class="">
      <a href="#" class="block hover:text-sky-500 py-2">Servicios financieros</a
      >
    </li>
  </ul>
</header>
<style></style>
